<%- include partials/header.ejs %>
<!-- Content -->
<main>
<%- include partials/hero.ejs %>
<%- include partials/brands.ejs %>
<%- include partials/locations.ejs %>
</main>

<%- include partials/affiliates.ejs %>
<%- include partials/footer.ejs %>
